{% extends "base.html" %}

{% block content %}
<main class="container">
  <div class="py-5 text-center">
    <h2>Chatrooms</h2>
    <p class="lead">Select a chatroom to start groupchat!</p>
  </div>

  <div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Chatroom</th>
          <th scope="col">Members</th>
          <th scope="col">Add a new friend</th>
        </tr>
      </thead>
      <tbody>
        {% for rn in room_names %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td><a href="{{ url_for('app.groupchat', room_name=rn[0]) }}">{{ rn[0] }}</a></td>
          <td>
            {% for usr in users[loop.index0] %}
            {{ usr }} 
            {% endfor %}
          </td>
          <td class="col"><input type="submit" value="Invite" onclick="showModal('{{rn[0]}}')"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pt-5 text-center">
      <p class="lead">If you need more chatroom,<br>
          You can create new one by form bellow.
      </p>
  </div>
  <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.room_name.label(class="form-label") }}
        {{ form.room_name(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-primary") }}
  </form>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{{ url_for('app.add_member') }}">
      <div class="modal-body" id="modal-body">
          <ul class="list-group" id="modal-list">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              First checkbox
            </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  var showModal = (room_name) => {
    document.getElementById("exampleModalLabel").innerHTML = 
      "Select friends to invite chatroom '" + room_name + "'";
    var modal = new bootstrap.Modal(document.getElementById('exampleModal'));

    var data = JSON.stringify({'room_name': room_name});
    $.ajax({
      type: "POST",
      url: "{{ url_for('app.get_friend_list') }}",
      data: data,
      dataType: 'json',
      contentType: "application/json",
    }).done((res) => {
      let modalList = document.getElementById("modal-list");
      while (modalList.lastChild) {
        modalList.removeChild(modalList.lastChild);
      }
      let field = document.createElement("input");
      field.type = "hidden";
      field.name = "room_name";
      field.value = room_name;
      modalList.appendChild(field);
      for (let i = 0; i < res.length; i++) {
        let li = document.createElement("li");
        li.className = "list-group-item";
        let inp = document.createElement("input");
        inp.className = "form-check-input me-1";
        inp.type = "checkbox";
        inp.id = res[i];
        inp.name = "members"
        inp.value = res[i];
        let label = document.createElement("label");
        label.for = res[i];
        label.innerHTML = res[i];
        li.appendChild(inp);
        li.append(label);
        modalList.appendChild(li);
      }
    }).fail((jqXHR, textStatus, errorThrown) => {
      alert(errorThrown);
    });

    modal.show();
  };
</script>
{% endblock %}
